@{
    ViewData["Title"] = "Каталог";
}
<h1>Каталог</h1>

<!--
<p><a href="http://localhost:5265/product/index">Пирожок</a></p>
-->

<p><a asp-controller="Product" asp-action="Index" asp-route-id="1">Пирожок</a></p>
<p><a asp-controller="Product" asp-action="Index" asp-route-id="2">Чебурек</a></p>