@model List<User>
@{
    ViewData["Title"] = "Пользователи";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Почта</th>
            <th scope="col">Профиль</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Model[i].Name</td>
                <td>@Model[i].Email</td>
                <td><a href="/User/Profile/@Model[i].Id">Перейти</a></td>
            </tr>
        }
    </tbody>

</table>

