@model User
@{
    ViewData["Title"] = "Профиль";
}

<div class="card" style="width: 18rem;">
    <img src="@Model.PhotoPath" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Email</p>
    </div>
</div>

