@model Cart
@{
    ViewData["Title"] = "Пользователь";
}

<div class="text-center">
    <h1 class="display-4">Корзина</h1>
    <table class="table">
        <thead>
            <tr>
                <td>Товар</td>
                <td>Стоимость</td>
                <td>Количество</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Cost</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
