@model Product
@{
    ViewData["Title"] = "Подробнее о товаре";
}

<div class="card" style="width: 18rem;">
    <img src="@Model.PathImage" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-subtitle">@Model.Cost р.</p>
        <a href="/Home/Privacy" class="btn btn-primary">В каталог</a>
    </div>
</div>

